<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
<script>

function validate()
{
    let name
    let v1=document.forms["form1"]["username"].value
    //Username
    if(v1.trim()!="" && (v1.trim()).length >2 && isNaN(v1))
    {
        name=true
    }
    else{
        
        name=false
        alert("Invalid username")
    }
  
    return  name
}
</script>
</head>
<body>
    <form name="form1" onsubmit="return validate()" action="/verify">
    Username : <input type="text" required placeholder="Username" name="username" >
    Password : <input type="password"  required placeholder="Password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
    <input type="submit"   value="login" >

</form>
</body>
</html>
